body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    overflow: hidden;
    background-image: url("./img/texture.png");
    background-size: cover;
}
*{
    font-family: 'Lilita One', cursive;
}
.start,
.selection,
.final{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 15vh;
    width: 100%;
    height: 100%;
}
.final{
    gap: 5vh;
}
.game{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 15vh;
    height: 100%;
    width: 100%;;
    background-image: url("./img/Background.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.preview{
    width: 100%;
}
.title{
    width: 40%;
}

.startButton, .playAgain{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #77A8AC;
    box-shadow: 0px 8px #144C78;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    padding: 5% 5%;
    margin-bottom: 10%;
}

.startButton p, .startGame p {
    margin: 3%;
    margin-right: 6%;
}

.words{
    font-size: 20px !important;
    width: 100%;
    color: white !important;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 600;
}

.arrowHead{
    margin-right: 10px;
    max-width: 15px;
    height: auto;
}

.hide{
    display: none;
    visibility: hidden;
}
.selection{
    gap: 5vh;
}
.selectImag{
    width: 50vh;
}
.icon{
    width: 7vh;
}
.topRight{
    position: absolute;
    display: flex;
    top: 1vh;
    right: 1vh;
}
.topMiddle{
    position: absolute;
    display: flex;
    font-size: 6vh;
    top: 1vh;
}
.questionNumber{
    font-family: "Lilita One";
}
.Leftsigns,
.Rightsigns{
    position: absolute;
    display: grid;
    height: 30vh;
    width: 20vmin;
    gap: 3vh;
    grid-template-rows: repeat(2, 25vmin);
}
.Rightsigns{
    right: 1vh;
}
.Leftsigns{
    left: 1vh;
}
.Fesign,
.Masign{
    width: 20vmin;
}
.arrow{
    width: 20vmin;
}
.person{
    margin-bottom: -200px;
    position: absolute;
    width: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.c{
    width: 25vh;
}
.speech{
    position: absolute;
    padding: 5% 2%;
    background-color: white;
    font-size: 30px;
    border-radius: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.speech p{
    margin: 0px;
}

.text{
    width: 35vh;
}

.img{
    width: 60%;
}

.final p{
    font-size: 30px;
    color: #77A8AC;
    margin: 10px auto;
}

  /*mobile*/
@media screen and (max-width: 767px){
    .startButton, .playAgain {
    width: calc(100% - 70px);
    justify-content: center;
    align-items: center;
    }
}

/*ipad*/
@media screen and (min-width:768px) and (max-width:1023px) {
    body{
        width:100%;
    }
    .start{
        gap: 8%;
    }
    .game{
        background-image: url("./img/BackgroundIpad.png");
    }
    .c{
        margin-right: 70px;
    }
    .startButton, .playAgain {
        max-width: 300px;
        padding: 2.5%;
    }
    .final p{
        font-size: 50px;
    }
    .speech{
        font-size: 50px;
    }
    .img{
        width: 50%;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    body{
        display: flex;
        justify-content: center;
      width: 100%;
    }
    .start, .howToPlay, .game,.final{
        max-width: 400px;
        margin: 0 auto;
    }
    .game{
        background-image: url(./img/BackgroundIpad.png);
        background-position: center;
    }
}